@import url('https://fonts.googleapis.com/css?family=Lato:900|Montserrat:300|Work+Sans:300&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
#product-container{
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
}
#product {
    margin: 10px 0 0 10px;
}
#img-container img{
    max-width: 300px;
    min-height: 400px;
    width: 100%;
    height: 100%;
}
#context {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    align-items: center;
    text-transform: uppercase;
}
#brand {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 1px;
    padding-bottom: 3px;
    color: #000;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    text-align:left;
}
#title {
    font-weight: 500;
    color: #666666;
    text-transform: capitalize;
    font-size: 11px;
    font-family: 'Nunito', sans-serif;
}
#price {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 10px;
}