header {
    border-top: 1px solid #bdbdbd;
    padding: 0 0 10px 0;
}
#breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0 20px;
}
#breadcrumb li a {
    font-size: 10px;
    padding: 5px;
    text-align: center;
    align-self: baseline;
}
#special a{
    display: flex;
    align-items: center;
}
#special a i{
    color: black;
    margin-right: 5px;
}
#breadcrumb li a:hover {
    color: #666;
}
#breadcrumb li span {
    font-size: 9px;
}
#breadcrumb li p {
    margin-left: 25px;
    font-size: 13px;
    font-weight: 400;
}
#txt-h {
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}