@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
i {
    color: white;
}
nav {
  width: 100%;
  margin: 0;
  top: 0;
}
#Top-con {
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 0 auto;
    height: 55px;
}
.fixed-nav {
    position: fixed;
    z-index: 1;
}
#Top-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
#Top-left li{
    border-right: 1px solid #525050;
    padding: 10px 30px;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.5s all ease-in-out;
    font-family: 'Nunito', sans-serif;
}
#selected {
    background-color: white;
}
#selected h5{
    color: black;
}
#Top-left li:hover {
    background: #bdbdbd50;
    color: #fff;
}
#selected:hover{
    background-color: white !important;
}
#Top-left #Logo {
    font-family: 'Cairo', sans-serif;
}
#Top-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 15px;
}
#Top-right li{
    margin: 0 9px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#Top-right input {
    height: 26px;
    border: 1px solid #bdbdbd50;
    background-color: #fff;
    color: white;
    font-size: 12px;
    min-width: 450px;
    opacity: 1;
    padding: 0 30px 0 11px;
    border-radius: 15px;
}