@import url('https://fonts.googleapis.com/css?family=Nunito|Titillium+Web:700&display=swap');
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#nav-list {
    display: flex;
    flex-direction: row;
    padding: 0 30px;
}
#nav-list li {
    padding: 10px 10px;
}
#menu {
    background: black;
    width: 100px;
    height: 100px;
}
#menu button{
    display: block;
}
#naver {
    transition: 0.2s all ease-in-out;
    color: #303030;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    padding: 7px 5px;
    /* line-height: 1; */
}
.icons {
    margin-right: 10px;
}
#nav-bg {
    display: none;
    position: absolute;
    background: white;
    padding: 10px 0;
    border: 1px solid #bdbdbd;
}
#nav-bg ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
#nav-bg ul li {
    display: flex;
    flex-direction: column;
}
#nav-bg ul li a{
    margin: 20px;
}
#naver:hover{
    border-bottom: 4px solid black;
}
#nav-1:hover #nav-bg,
#nav-2:hover #nav-bg,
#nav-3:hover #nav-bg,
#nav-4:hover #nav-bg,
#nav-5:hover #nav-bg{
    display: block;
    margin-top: 15px;
}